@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  -webkit-tap-highlight-color: transparent;
}
@layer components {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
  /* Hide scrollbar for Safari */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
.circle {
  background: linear-gradient(
    134.23deg,
    #1c684a 27.05%,
    #b1ff03 45.2%,
    #1f1cf1 73.44%
  );
}
.loader {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.loader--fade-in {
  opacity: 1;
}

/* 
.dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
}
.dot1 {
  background-color: #1abc9c;
  animation: jump-up 0.6s 0.1s linear infinite;
}
.dot2 {
  background-color: #ffd64a;
  animation: jump-up 0.6s 0.2s linear infinite;
}
.dot3 {
  background-color: #e867af;
  animation: jump-up 0.6s 0.3s linear infinite;
}
@keyframes jump-up {
  50% {
    transform: translate(0, 15px);
  }
} */
